.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: #fefefe;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;

}

.button{
    width: 200px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    padding: 12px;
    margin: 1px;
    background-color: white;
    box-shadow:  3px 5px 10px #888888;
}

.customButton{
    background-color: white;
    color: black;
    border-radius: 0;
    border: 0;
        box-shadow: 0 0 1px black;
}

.ButtonGroups {
    display: inline-flex;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 2px;
    overflow: hidden;
    margin: 40px 0 20px 0;
}