.bg {
  background-color: #1d1d1d;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: white;
}

.info {
  width: 350px;
}

.cardText {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  opacity: 70%;
}
.cardHeader {
  margin-top: 20px;
}

.ul {
  list-style: none;
  padding: 0;
  opacity: 70%;
  font-weight: 200;
}

.cop {
  display: flex;
  justify-content: center;
  padding: 60px;
  opacity: 70%;
  font-weight: 200;
  font-size: 15px;
}
