.searchBar {
    background-color: #09334c;
    padding-top: 64px;
    padding-bottom: 64px;
}

.find {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.searchButton {
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    color: white;
    justify-content: center;
    width: 210px;
    cursor: pointer;
}

.SearchGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 16rem));
    gap: 12px;
}

.inputGroups{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    gap: 1rem;  
}

@media (min-width:550px )  {
    .inputGroups {
        grid-column: auto / span 2 ;
    }
}
